.containerInfo_Mobile {
  width: 160px;
  height: 200px;
  margin: 10px 10px;
  box-shadow: 6px 9px 14px -8px #616161;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.containerInfo_Desktop {
  width: 350px;
  height: 210px;
  margin: 10px 10px;
  box-shadow: 6px 9px 14px -8px #616161;
  border-radius: 30px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.img_mobile {
  width: 100%;
}

.img_desktop {
  width: 150px;
  height: 150px;
  z-index: 2;
}
h1 {
  font-size: 1.2rem;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

.pokeInfo_mobile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.pokeInfo_desktop {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.btnPokecard {
  border: none;
  padding: 0;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: transparent;
}

.imgBtn {
  height: 36px;
  width: 36px;
}

.normal {
  background-color: var(--type-normal);
}

.combat {
  background-color: var(--type-combat);
}

.vol {
  background-color: var(--type-vol);
}

.poison {
  background-color: var(--type-poison);
}

.sol {
  background-color: var(--type-sol);
}

.roche {
  background-color: var(--type-roche);
}

.insecte {
  background-color: var(--type-insecte);
}

.spectre {
  background-color: var(--type-spectre);
}

.acier {
  background-color: var(--type-acier);
}

.feu {
  background-color: var(--type-feu);
}

.eau {
  background-color: var(--type-eau);
}

.plante {
  background-color: var(--type-plante);
}

.electrik {
  background-color: var(--type-electrik);
}

.psy {
  background-color: var(--type-psy);
}

.glace {
  background-color: var(--type-glace);
}

.dragon {
  background-color: var(--type-dragon);
}

.tenebres {
  background-color: var(--type-tenebre);
}

.fee {
  background-color: var(--type-fee);
}

.typeImage {
  z-index: 1;
  position: absolute;
  width: 10%;
}
