:root {
  --font-princpal: "Montserrat", sans-serif;
  --type-normal: rgb(154, 157, 161);
  --normal: 154, 157, 161;
  --type-combat: rgb(217, 66, 86);
  --combat: 217, 66, 86;
  --type-vol: rgb(155, 180, 232);
  --vol: 155, 180, 232;
  --type-poison: rgb(198, 131, 219);
  --poison: 181, 99, 206;
  --type-sol: rgb(219, 131, 80);
  --sol: 215, 133, 85;
  --type-roche: rgb(206, 193, 140);
  --roche: 206, 193, 140;
  --type-insecte: rgb(137, 199, 106);
  --insecte: 157, 193, 47;
  --type-spectre: rgb(105, 112, 197);
  --spectre: 105, 112, 197;
  --type-acier: rgb(85, 150, 164);
  --acier: 85, 150, 164;
  --type-feu: rgb(255, 184, 107);
  --feu: 248, 165, 79;
  --type-eau: rgb(148, 194, 235);
  --eau: 148, 194, 235;
  --type-plante: rgb(116, 197, 118);
  --plante: 94, 190, 98;
  --type-electrik: rgb(251, 233, 113);
  --electrik: 237, 213, 64;
  --type-psy: rgb(248, 124, 122);
  --psy: 248, 124, 122;
  --type-glace: rgb(125, 212, 201);
  --glace: 125, 212, 201;
  --type-dragon: rgb(6, 115, 199);
  --dragon: 6, 115, 199;
  --type-tenebre: rgb(124, 124, 129);
  --tenebre: 95, 96, 109;
  --type-fee: rgb(239, 151, 230);
  --fee: 239, 151, 230;
}

button {
  font-family: var(--font-princpal);
}

h2 {
  font-family: var(--font-princpal);
}
p {
  font-family: var(--font-princpal);
}
span {
  font-family: var(--font-princpal);
  text-decoration: none;
}
