:root {
  --font-princpal: "Montserrat", sans-serif;
  --type-normal: rgb(154, 157, 161);
  --type-combat: rgb(217, 66, 86);
  --type-vol: rgb(155, 180, 232);
  --type-poison: rgb(181, 99, 206);
  --type-sol: rgb(215, 133, 85);
  --type-roche: rgb(206, 193, 140);
  --type-insecte: rgb(157, 193, 47);
  --type-spectre: rgb(105, 112, 197);
  --type-acier: rgb(85, 150, 164);
  --type-feu: rgb(248, 165, 79);
  --type-eau: rgb(148, 194, 235);
  --type-plante: rgb(94, 190, 98);
  --type-électrik: rgb(237, 213, 64);
  --type-psy: rgb(248, 124, 122);
  --type-glace: rgb(125, 212, 201);
  --type-dragon: rgb(6, 115, 199);
  --type-ténèbre: rgb(95, 96, 109);
  --type-fée: rgb(239, 151, 230);
}

button {
  font-family: var(--font-princpal);
}

h2 {
  font-family: var(--font-princpal);
}
p {
  font-family: var(--font-princpal);
}
