@media screen and (min-width: 800px) {
  .pokeCard {
    display: flex;
    border-radius: 30px;
    width: 60%;
  }

  .nameAndTypes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .pokeName {
    display: flex;
    flex-direction: column-reverse;
  }
  .pokeName p {
    font-size: 2.5rem;
    margin: 0;
    padding-right: 2rem;
    font-style: italic;
  }
  #text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
  }
  #pokemonImg {
    flex-direction: row-reverse;
  }
  #pokemon {
    position: relative;
    top: 10%;
  }
  .typeSvg {
    left: 2%;
  }
  .types {
    padding-top: 1rem;
  }
}
