.container_btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#btn {
  border: 1px solid #ababae;
  border-radius: 30px;
  width: 100px;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 16;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 7px 9px -3px rgba(196, 196, 196, 0.49);
}

#btn:hover {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.49);
  box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.49);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .btn_Previous {
    position: absolute;
    top: 63%;
    right: 90%;
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
  }
  .btn_desktop {
    position: absolute;
    left: 90%;
    top: 62%;
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
  }
  .desktopNext {
    opacity: 0.8;
    width: 60px;
    margin-left: 20px;
  }

  .desktopPrevious {
    opacity: 0.8;
    width: 60px;
    margin-right: 20px;
  }
}
