.input_search_bar_mobile {
  width: 270px;
  height: 28px;
  border-radius: 25px;
  background-color: rgb(235, 234, 235);
  border: none;
  padding-left: 20px;
  margin-top: 5px;
}
.input_search_bar_desktop {
  width: 572px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(235, 234, 235);
  border: none;
  padding-left: 20px;
  margin-top: 90px;
  font-size: 1.5rem;
}
.searchBarMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.searchBarDesktop {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.none {
  display: none;
}
