.input_search_bar {
  width: 270px;
  height: 28px;
  border-radius: 25px;
  background-color: rgb(235, 234, 235);
  border: none;
  padding-left: 20px;
  margin-top: 5px;
}

.searchBarMobile {
  border: 4px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBarDesktop {
  border: 4px solid blue;
}
