.input_search_bar_mobile {
  width: 270px;
  height: 28px;
  border-radius: 25px;
  background-color: rgb(235, 234, 235);
  border: none;
  padding-left: 20px;
  margin-top: 5px;
}
.input_search_bar_desktop {
  width: 572px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(235, 234, 235);
  border: none;
  padding-left: 20px;
  margin-top: 90px;
  font-size: 1.5rem;
}
.searchBarMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.searchBarDesktop {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.none {
  display: none;
}

.suggest {
  width: 270px;
  border-radius: 15px;
  background-color: rgb(235, 234, 235);
  border: none;
}
li {
  list-style: none;
}
.suggestButton {
  border: none;
  background-color: rgb(235, 234, 235);
}
ul {
  position: absolute;
  z-index: 5;
  top: 44px;
  padding-left: 20px;
  min-height: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .suggest {
    width: 574px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(235, 234, 235);
    font-size: 1.5rem;
  }
  li {
    list-style: none;
  }
  .suggestButton {
    border: none;
    font-size: 1.3rem;
    background-color: rgb(235, 234, 235);
    cursor: pointer;
  }
  ul {
    position: absolute;
    z-index: 5;
    top: 132px;
  }
}
