* {
  margin: 0;
}

.pokedexCard_mobile {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 700px;
}

.pokedexCard_desktop {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 750px;
}
