.logo_mobile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  /* border: 2px solid red; */
}

.logo_nav {
  height: 70px;
  padding: 0 2.5vh 0 2.5vh;
  width: 55px;
}

.pokeball {
  height: 70px;
  padding: 0 2.5vh 0 2.5vh;
  width: 78px;
}

.menu_burger {
  height: 70px;
  padding: 0 2.5vh 0 2.5vh;
  width: 40px;
}
.BurgerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.menu_items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3vh;
  width: 380px;
  height: 395px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.BurgerButton:hover .menu_items {
  display: block;
}

.menu_items li {
  font-family: var(--font-princpal);
  font-size: 2rem;

  display: flex;
}

.menu_desktop {
  display: none;
}
.menu_items li:hover {
  background-color: #f5f5f5;
}

.menuburger {
  padding: 2vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 42.9%;
}

.navsection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
}
.logo_text {
  font-size: 2rem;
  /* font-weight: bold; */
  color: black;
}

nav {
  position: relative;
}
a {
  text-decoration: none;
}

@media (min-width: 800px) {
  .navsection {
    /* border: 4px red solid; */
    border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding: 0 60px;
  }
  .about_us {
    margin-left: auto;
    margin-right: 40px;
  }
}
